.App {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: blanchedalmond;
}
input{
  width: 100%;
  border: 1px solid black;
}
.table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
